In [330]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from datetime import datetime

In [331]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1744,tt0416508,16500000,37311672,Becoming Jane,Anne Hathaway|James McAvoy|Julie Walters|James...,Julian Jarrold,Her own life is her greatest inspiration.,A biographical portrait of a pre-fame Jane Aus...,120,Drama|Romance,Ecosse Films|2 Entertain|Bueprint Pictures,3/2/2007,6.9,2007
1681,tt0758758,15000000,56255142,Into the Wild,Emile Hirsch|Marcia Gay Harden|William Hurt|Je...,Sean Penn,Into the heart. Into the soul.,"The true story of top student and athlete, Chr...",148,Adventure|Drama,Paramount Vantage|River Road Entertainment|Art...,9/11/2007,7.7,2007
499,tt0198781,115000000,562816256,"Monsters, Inc.",John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,Lee Unkrich|David Silverman|Pete Docter,We Scare Because We Care.,"James Sullivan and Mike Wazowski are monsters,...",92,Fantasy|Animation|Family|Comedy,Walt Disney Pictures|Pixar Animation Studios,11/1/2001,7.3,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка
### Preprocessing

In [220]:
answers = {}        #dict for adding all answers

In [33]:
data['profit'] = data['revenue'] - data['budget']        #add profit column to original dataframe

# 1. У какого фильма из списка самый большой бюджет?
### 1. Which film from the list has the biggest budget?

In [223]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [97]:
max_budget = data.budget.max()
max_budget_movie = data[data.budget == max_budget].original_title
print(max_budget_movie)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?
### 2. Which film is the longest of the list (in minutes)?

In [227]:
answers['2'] = 'Gods and Generals'

In [228]:
most_min = data.runtime.max()
longest_movie = data[data.runtime == most_min].original_title
print(longest_movie)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?
### 3. Which film is the shortest (in minutes)?

In [229]:
answers['3'] = 'Winnie the Pooh'

In [230]:
less_min = data.runtime.min()
shortest_movie = data[data.runtime == less_min].original_title
print(shortest_movie)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?
### 4. What is the average runtime of films?

In [231]:
answers['4'] = '110'

In [232]:
mean_runtime = round(data.runtime.mean())
print(mean_runtime)

110

# 5. Каково медианное значение длительности фильмов?
### 5. What is the median runtime of films?

In [233]:
answers['5'] = '107'

In [234]:
median_runtime = data.runtime.median()
print(median_runtime)

107.0

# 6. Какой самый прибыльный фильм?
### 6. Which film is the most profitable?

In [235]:
answers['6'] = 'Avatar'

In [236]:
max_profit = data.profit.max()
max_profit_movie = data[data.profit == max_profit].original_title
print(max_profit_movie)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный? 
### 7. Which film is the most unprofitable?

In [237]:
answers['7'] = 'The Lone Ranger'

In [238]:
negative_profit = data.profit.min()
negative_profit_movie = data[data.profit == negative_profit].original_title
print(negative_profit_movie)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
### 8. How many film from the dataset had bigger revenue than budget?

In [239]:
answers['8'] = '1478'

In [240]:
postive_profit_movies = len(data.loc[data.revenue > data.budget])
print(postive_profit_movies)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?
### 9. Which film had the highest revenue in 2008?

In [241]:
answers['9'] = 'The Dark Knight'

In [242]:
max_revenue_2008 = data[data.release_year == 2008].revenue.max()
movie_2008 = data[data.revenue == max_revenue_2008].original_title
print(movie_2008)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?
### 10. Which film was the most unprofitable from 2012 to 2014 (inclusive)?

In [243]:
answers['10'] = 'The Lone Ranger'

In [244]:
films = data.query('release_year in ["2012", "2013","2014"]')  #dataframe with films from 2012-1013
loss_film = films[films.profit == films.profit.min()].original_title
print(loss_film)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
### 11. Which genre is the most popular?

In [245]:
answers['11'] = 'Drama'

In [246]:
data11 = data.copy()        #make a copy to work with without changing main one
data11.genres = data11.genres.str.split('|')        #split into list
data11 = data11.explode('genres')        #make separate rows for each genre list value

freq_genre = data11.genres.mode()
print(freq_genre[0])

Drama

ВАРИАНТ 2

In [247]:
freq_genre2 = data11['genres'].value_counts().index[0]
                                #series with counts of unique values, top[0] value is the biggest
print(freq_genre2)

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными? 
### 12. Which genre is most profitable?

In [248]:
answers['12'] = 'Drama'

In [249]:
data12 = data.query('revenue > budget').copy()        #make a dataframe part copy
data12['genres'] = data12.genres.str.split('|')
data12=data12.explode('genres')

profit_genre = data12.genres.value_counts().index[0]
print(profit_genre)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?
### 13. Which director has the highest film revenue in total?

In [250]:
answers['13'] = 'Peter Jackson'

In [251]:
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')

rev_dir = data.groupby(['director'])['revenue'].sum()        #find sum of revenue for each director
revenue_dir = rev_dir.sort_values(ascending=False).index[0]
print(revenue_dir)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?
### 14. Which director had made the majority of Action genre films?

In [252]:
answers['14'] = 'Robert Rodriguez'

In [253]:
''' using dataframe with already separated rows for directors''' 

action_dir = data13[data13.genres.str.contains('Action')].director
                                            #series with all directors for action movies
action_director = action_dir.value_counts().index[0]
print(action_director)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?
### 15. Which actor did bring the highest films revenue in 2012?

In [254]:
answers['15'] = 'Chris Hemsworth'

In [329]:
data15 = data[data.release_year == 2012]        #films from 2012 year
data15.cast = data15.cast.str.split('|') 
data15 = data15.explode('cast')

actor_2012 = data15.groupby(['cast']).revenue.sum().idxmax()        #get an actor with max sum of revenue
print(actor_2012)

Chris Hemsworth

D:\Program Files\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
### 16. Which actor has starred in considerable amount of big-budget films?

In [256]:
answers['16'] = 'Matt Damon'

In [257]:
data16 = data.copy()
data16.cast = data16.cast.str.split('|') 
data16 = data16.explode('cast')

big_budget = data16[data16.budget > data16.budget.mean()]
big_budget_actor = big_budget.groupby(['cast']).original_title.count().idxmax()
print(big_budget_actor)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage? 
### 17. Which genre films has Nicolas Cage starred the most?

In [258]:
answers['17'] = 'Action'

In [259]:
data17 = data.copy()
data17.cast = data17.cast.str.split('|')
data17 = data17.explode('cast')
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres')

NC_genre = data17[data17.cast == 'Nicolas Cage'].genres.mode()
print(NC_genre[0])

Action

# 18. Самый убыточный фильм от Paramount Pictures
### 18. The most unprofitable film of Paramount Pictures

In [260]:
answers['18'] = 'K-19: The Widowmaker'

In [261]:
data18 = data.copy()
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')

PP_min_profit = data18[(data18.production_companies == 'Paramount Pictures')].profit.min()
PP_min_prof_movie = data18.loc[data18.profit== par_min].original_title
print(PP_min_prof_movie)

925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?
### 19. Which year was the most successful in terms of total film revenue?

In [262]:
answers['19'] = '2015'

In [263]:
revenue_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]
print(revenue_year)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?
### 20. Which is the most profitable year for Warner Bros?

In [264]:
answers['20'] = '2014'

In [265]:
''' using dataframe with already separated rows for production companies'''

WB_df = data18[data18.production_companies.str.contains('Warner Bros')]        #all films from Warner Bros.
WB_prof_year = WB_df.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]
print(WB_prof_year)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?
### 21. In which month for all the years was released the most of films in total?

In [266]:
answers['21'] = 'September'

In [267]:
data21=data.copy()

data21.release_date = data21.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
                                                                    #show in which format is date
data21['release_month'] = data21.release_date.apply(lambda x: x.strftime('%B'))
                                                                    #add new column with names of months

popular_month = data21['release_month'].value_counts().index[0]
print(popular_month)

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
### 22. How many films were released in the summer in total? (for June, July, August)

In [268]:
answers['22'] = '450'

In [269]:
summer_movies = data21.query('release_month in ["June", "July", "August"]').shape[0]
                                                #count rows in dateframe with films released in June, July and August
print(summer_movies)

450

# 23. Для какого режиссера зима – самое продуктивное время года? 
### 23. For which director is winter the most productive time of the year?

In [270]:
answers['23'] = 'Peter Jackson'

In [271]:
data23 = data.copy()
data23.release_date = data23.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
data23['release_month'] = data23.release_date.apply(lambda x: x.strftime('%B'))
data23.director = data.director.str.split('|')
data23 = data23.explode('director')

data23_pivot = data23.pivot_table(values = 'original_title',
columns = 'release_month',
index = 'director',
aggfunc = 'count',
fill_value = 0)

winter_dir = data23_pivot[['December', 'January', 'February']].sum(axis=1).idxmax()
print(winter_dir)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?
### 24. Which studio does give the longest titles to its films (based on the number of symbols)?

In [272]:
answers['24'] = 'Four By Two Productions'

In [273]:
data24 = data.copy()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')

data24['name_length'] = data24.original_title.str.len()        #add column with length of movies names 

com_name_len = data24.groupby(['production_companies'])['name_length'].mean().sort_values(ascending=False).index[0]
print(com_name_len)

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?
### 25. Which studio has the longest film descriptions in average in terms of word amount?

In [274]:
answers['25'] = 'Midnight Picture Show'

In [275]:
data25 = data.copy()
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')

data25['overview_length'] = data25.overview.str.len() 

com_overview_len = data25.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False)
print(com_overview_len.index[0])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
### 26. Which films are in the top 1 percent by vote rate?

In [299]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [277]:
data26 = data.copy()
vote_quantile = data26['vote_average'].quantile(q=0.99)        #99% of votes in increasing order
vote_1p = data26[data26['vote_average'] > vote_quantile].original_title
                                                    #all films that have higher average vote that films 99% of films
print(vote_1p)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?
### 27. What actors are the most frequently starred together in the same film?

In [278]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [279]:
data27 = data.copy()
data27.cast = data27.cast.str.split('|')


def frequent_pair():
    '''function for finding frequent pair'''
    
    for i in range(0,len(data27)):        #start a cycle for all rows
        actors = data27.cast[i]           #specify where from take actors name
        
    for j in list(combinations(actors,2)):        #start a cycle to find pairs(2 persons)
        if j in pairs:
            pairs[j] += 1
        else:
            pairs[j] =1
    
    return pairs.most_common(1)[0][0]


print(frequent_pair())

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [327]:
for key, value in answers.items():
    print('for question  ', key, '  answer is  ', value)

for question   1   answer is   Pirates of the Caribbean: On Stranger Tides
for question   2   answer is   Gods and Generals
for question   3   answer is   Winnie the Pooh
for question   4   answer is   110
for question   5   answer is   107
for question   6   answer is   Avatar
for question   7   answer is   The Lone Ranger
for question   8   answer is   1478
for question   9   answer is   The Dark Knight
for question   10   answer is   The Lone Ranger
for question   11   answer is   Drama
for question   12   answer is   Drama
for question   13   answer is   Peter Jackson
for question   14   answer is   Robert Rodriguez
for question   15   answer is   Chris Hemsworth
for question   16   answer is   Matt Damon
for question   17   answer is   Action
for question   18   answer is   K-19: The Widowmaker
for question   19   answer is   2015
for question   20   answer is   2014
for question   21   answer is   September
for question   22   answer is   450
for question   23   answer is   Peter Jackson
for question   24   answer is   Four By Two Productions
for question   25   answer is   Midnight Picture Show
for question   26   answer is   Inside Out, The Dark Knight, 12 Years a Slave
for question   27   answer is   Daniel Radcliffe, Rupert Grint